div.tabela {
    overflow-x: scroll;
}

.tabela table{
    border-collapse: collapse;
    width: 100%;
}

/*th = titulos,  td = o que tem dentro da coluna*/
.tabela th {
    min-width: 50px;
    padding: 10px 15px;
    border: 1px solid #DDD;
    text-align: center;
    max-width: 20px;
  }
  

